

body {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 34px;/*보더에 1px이 있음으로*/
    margin: 0;
    padding: 7px 30px 8px 30px;
    border-bottom: 1px solid lightgrey;;
    background: #fff;
}

#menu {
    background: none;
    border: none;
    margin: 0;
    padding: 11px 0 0 5px;
    float: left;
}

#logo {
    padding: 3px 0 0 15px;
    float: left;
    height: 28px;
    margin-top: 0;
    width: 73px;
    top: 0;
    left: 0;
    bottom: 0;
    /*margin: 0;*/
    background: transparent;
    overflow: hidden;
    /*zoom: 1;*/
}

header h1 {
}

header h1 a {
    float: left;
    text-decoration: none;
    font-size: 18.1px;
    margin: 0;
    padding: 0;
}
.search-control {
    float: left;
    margin-left: 93px;
    margin-top: 3px;
}

.search-bar-control {
    margin: 0;
    padding: 0;
    max-width: 600px;
    height: 25px;
}

.sub-menu-control {
    float: right;
}

.logo-and-menu {
}


.aside-box {
    position: fixed;
    max-height: 967px;
    width: 230px;
    top: 50px;
    bottom: 0;
    left: 0;
    margin: 0;
    background: #ffffff;
    border-right: 1px solid lightgray;
}

main {
    float: left;
    margin-top: 50px;
    padding-left: 230px;
    background-color: #DCDCDC;
}

main nav {
    text-align: center;
    left: 0;
    right: 0;
    height: 40px;
    background: #ffffff;
    border-bottom: 1px solid lightgray
    /*float: left;
    width: 100%;
    margin-top: 150px*/;
}

main nav a {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;;
}

.main-content {
    display: inline-block;
    /*position: relative;*/

    padding: 0;
    /*margin-left: 300px;*/
    background-color: #ffffff;
}

.main-position {
    width: 75%;
    margin: auto;
    padding-top: 20px;
}

.main-content-box {
    position: relative;

}


main > section > h2 {
    float: left;
    margin: 0;
    padding: 0;
}

main section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main section ul li {
    float: left;
    width: 196px;
    padding: 0;
    margin-right: 10px;
}

main section ul li figure {
    padding: 0;
    margin: 0;
}

main section ul li figure img {
    padding: 0;
    margin: 0;
    width: 196px;
}
/* width: auto;
    height: auto; */